@charset "UTF-8";

.header {
	width: 100%;
	background-color: black;
	height: 70px; /* 높이 추가 */
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.header-text {
	color: white;
	font-size: 23px;
	font-weight: bold;
	font-family: inherit;
	cursor: pointer;
}

.login-area {
	color: white;
	font-size: 13px;
	cursor: pointer;
	display: flex;
	gap: 10px;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
}

.nav-bar {
	width: 100%;
	background-color: black;
	color: white;
	border-top: 1px solid white; /* border 제대로 작성 */
	height: 35px; /* 높이 추가 */
	display: flex; /* 추가! */
	justify-content: center; /* 가로 가운데 정렬 */
	align-items: center; /* 세로 가운데 정렬 */
}

.nav-bar-text {
	display: flex; /* 텍스트들도 가로로 일렬 정렬 */
	gap: 40px; /* 아이템 사이 간격 */
	color: white;
}

.nav-bar-text div {
	color: white; /* 글자색 흰색 */
	font-size: 13px;
	cursor: pointer; /* 마우스 올리면 손가락 커서 */
}

.header-cart-icon {
	width: 22px;
	height: 22px;
	cursor: pointer;
}