@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f5f0ea;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
}


.container {
    width: 100vw;
        height: auto;
        overflow-y: auto;
    background-color: #fff3e7;
    overflow: hidden;
    display: flex;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.left-container {
    width: 60px;
    background-color: #FFF3E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    position: relative;
    border-right: 1px solid #f4dfcd;
}

.sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.sidebar-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    margin: 36px 0;
}

#customFileLabel {
    display: inline-block;
    background-color: #ffd27a;
    padding: 4px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
    font-size: 15px;
}



#fileNameDisplay {
    margin-left: 10px;
    font-size: 13px;
    color: #555;
}

.sidebar-btn::before {
    content: "...";
    font-size: 11px;
    font-weight: bold;
    color: black;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar-btn img {
    width: 24px;
    height: 24px;
}

.sidebar-btn:hover {
    transform: scale(1.1);
}



.right-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


.header-bar {
    width: 100%;
    height: 120px;
    background-color: #ede0d4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    border-radius: 0px 0px 0 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}


.brand-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
}

.brand-title img {
    width: 100%;
    height: auto;
    max-width: 125px;
}


.header-icons {
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    right: 100px;
}

.header-btn {
    background: none;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.header-btn img {
    width: 20px;
    height: 20px;
}

.header-btn:hover {
    transform: scale(1.1);
}


.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #ddd;
}


.myprofile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #ddd;
}

.content {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}
.bbiyak {
    position: absolute;
    bottom: 47px;
    left: 73%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    background-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 20;
    overflow: hidden;
}


.bbiyak img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.top-section {
    display: flex;
    gap: 40px;
    height: 337px;
    justify-content: center;
}

.bottom-section {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 82px;
}

.profile_table, .chatbot_table,.calendar-container,
.diary_table, .counseling_table,.chatbot_detail_table {
    min-width: 440px;
    max-width: 700px;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}



.profile_table {
    flex-grow: 3;
    flex-basis: 65%;
    background-color: white;
}

.chatbot_table {
    flex-grow: 2;
    flex-basis: 35%;
    background-color: #ede0d4;
    height: 100%;
}
.calendar-container {
    flex: 0 0 60%;
    min-width: 237px;
    max-width: 528px;
}

.counseling_wrapper {
    min-width: 400px;
}

.counseling_table {
    width: 100%;
    max-width: 830px;
    padding: 41px;
}

.nonreserved_counseling_table {
    flex-grow: 2;
    flex-basis: 45%;
    height: 440px;
    position: relative;
    background-color: #3D2C2E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    overflow: hidden;
}

/* 이미지 크기를 부모 요소에 맞게 조정 */
.nonreserved_counseling_table img {
    width: 144%;
    height: 100%;
    object-fit: cover;
}

.nonreserved_counseling_table_comment {
    position: absolute;
    bottom: 9%;
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    z-index: 2;
    width: 80%;
    margin-bottom: 90px;
}

.counseling_background_img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.counseling_background_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.diary_table {
    position: relative;
    flex-grow: 2;
    flex-basis: 45%;
    background-color: #3D2C2E;
    height: 400px;
    overflow: hidden;
}

.diary_background_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.diary_background_img img {
    width: 92%;
    height: 92%;
    object-fit: unset;
    margin-top :10px
}


.profile_table {
    width: 100%;
    max-width: 700px;
    height: 338px;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_content {
    display: flex;
    align-items: center;
    gap: 54px;
}

.profile_img img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}



.profile_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile_item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: #333;
    padding: 10px;
}

.profile_item img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.profile_edit_btn {
    padding: 13px 12px;
    background-color: #ede0d4;
    cursor: pointer;
    font-size: 15px;
    color: #333;
    transition: background-color 0.2s;
    border-radius: 10px;
    border: none;
}

.profile_edit_btn:hover {
    background-color: #d8c3a5;
}
.chatbot_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 3px 16px;
    height: 45px;
    background-color: #f5f0ea;
    margin: 10px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
}

.chatbot_list strong {
    font-weight: 500;
}

.view_chat_summary_btn {
    padding: 3px 14px;
    font-size: 13px;
    background-color: #ede0d4;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.2s;
}

.view_chat_summary_btn:hover {
    background-color: #d8c3a5;
}

.chatbot-detail-text {
    background-color: #fff3e7;
    height: 300px;
    width: 327px;
    border-radius: 15px;
    padding: 15px;
    border: solid 4px #ede0d4;}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* 모달 크기 */
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    text-align: center;
    padding: 20px;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    position: relative;

}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

#passwordCheck {
    width: 90%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin: 10px 0;
}

#checkPasswordBtn, .profile-submit-btn {
    padding: 10px 15px;
    background-color: #ede0d4;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

#checkPasswordBtn:hover, .profile-submit-btn:hover {
    background-color: #d8c3a5;
}

#passwordErrorMsg {
    color: red;
    display: none;
    font-size: 14px;
    margin-top: 5px;
}


.modal-content input {
    width: 120px;
    height: 18px;
    border-radius: 4px;
    margin: 4px;
}

#editId {
    border: 2px solid #88623d;
    background-color: #ede0d4;
}

input:invalid::placeholder {
    color: #ede0d4;
}

.counseling_background_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.reserved_counseling_table_comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: -15px;
    text-align: center;
    font-size: 20px;
}

/* 텍스트를 가운데 정렬 */
.reserved_counseling_table_comment div {
    flex-grow: 1;
    text-align: center;
}


.reserved_reservation_box strong,
.reserved_reservation_box div,
.reserved_reservation_box br {
    margin-bottom: 0;
    padding: 0;
}




.reservation_box {
    padding: 10px;
    border: 2px solid;
    margin: 5px;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 240px;
    font-size: 25px;
    width: 220px;
}



.enter-btn {
    padding: 6px 11px;
    background-color: #ffd27a;
    cursor: pointer;
    font-size: 17px;
    color: rgb(61 44 46);
    transition: background-color 0.2s;
    border-radius: 10px;
    border: none;
    margin-top: 7px;
}

.reservation_submit_btn {
    padding: 7px 25px;
    background-color: #ffd27a;
    cursor: pointer;
    font-size: 17px;
    color: #333;
    transition: background-color 0.2s;
    border-radius: 6px;
    border: none;
    margin-left: auto;

}

.completed-btn {
    padding: 6px 11px;
    background-color: rgb(61 44 46);
    cursor: pointer;
    font-size: 17px;
    color: #D8D2C2;
    transition: background-color 0.2s;
    border-radius: 10px;
    border: none;
    margin-top: 7px;
}



.enter_counseling_btn {
    background-color:    #ffd27a;
    color: rgb(61 44 46);
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}


.view_counseling_btn {
    background-color: rgb(61 44 46);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}



.reservation_list {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: auto;
    padding-bottom: 10px;
    scrollbar-width: auto;
    scrollbar-color: #c2a98e #ede0d4;
    white-space: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 77px;
}

.reserved_reservation_box:last-child {
    margin-right: 0;
}

.reservation_slider {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}



.reserved_reservation_box {
    flex: 0 0 auto;
    width: 228px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    margin-left: 0px;
    margin-right: 15px;
    margin-bottom: 62px;
}

.reserved_reservation_box:last-child {
    margin-right: 0;
}

.reservation_slider::-webkit-scrollbar {
    height: 10px;
}

.reservation_slider::-webkit-scrollbar-thumb {
    background-color: #c2a98e;
    border-radius: 4px;
}

.reservation_slider::-webkit-scrollbar-track {
    background-color: #ede0d4;
}

.usermypage-form {
    display: block;
    width: 100%;
    height: auto;
    overflow-y: auto;
    padding-bottom: 50px; /* 모달 하단 여백 확보용 */
}


.usermypage-form::-webkit-scrollbar {
    width: 8px;
}

.usermypage-form::-webkit-scrollbar-thumb {
    background-color: rgba(63, 46, 41, 0.4);
    border-radius: 4px;
}

.usermypage-form::-webkit-scrollbar-track {
    background-color: transparent;
}