@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: clamp(14px, 1.8vw, 20px);
    background-color: #f5f0ea;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    height: auto;
    overflow-y: auto;
}

/* 웹킷 브라우저용 스크롤바 커스터마이징 */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f5f0ea;  /* 트랙 배경색 */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #d2c4d6;  /* 스크롤바 색상 */
    border-radius: 10px;
    border: 2px solid #f5f0ea; /* thumb 외곽 여백 효과 */
}

::-webkit-scrollbar-thumb:hover {
    background: #b8a5b9;  /* hover 시 색상 */
}


.container {
    width: 100vw;
    /*height: 100vh;*/
    height: 100%;
    background-color: #fff3e7;
 /*   border-radius: 2vw;*/
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 0.3vh 1vh rgba(0, 0, 0, 0.1);
}

/* header */
.header-bar {
    width: 100%;
    height: 10vh;
    background-color: #EDE0D4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
   /* border-radius: 30px 30px 0 0;*/
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    left: 48%;
    transform: translateX(-50%);
}

.logo-icon {
    width: 200px;
    height: 200px;
}

.logo-text {
    font-size: 28px;
    font-weight: bold;
    color: #3D2C2E;
    font-family: 'Inknut Antiqua', serif;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    right: 100px;
}

.header-btn {
    background: none;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.header-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.header-btn img {
    width: 20px;
    height: 20px;
}

.header-btn:hover {
    transform: scale(1.1);
}

/* 모달 */
.modal {
    display: none;
    position: fixed;
    top: 10%;
    right: 10vw;
    width: 40vw;
    background: white;
    border: 0.1vw solid #ccc;
    box-shadow: 0.2vw 0.2vw 1vw rgba(0, 0, 0, 0.1);
    border-radius: 1vw;
    /*padding: 2vh;*/
    z-index: 1000;
}

.modal-content {
    flex-grow: 1;
    margin: 5vh 2vw;
}

.modal-content h3 {
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
    color: #5D4037;
}

.modal-title a {
    color: #5D4037;
    text-decoration: none;
}

#notice-title a:visited {
    color: #5D4037;
    text-decoration: none;
}

.close-btn {
    color: #5D4037;
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

#notice-lists {
    /*list-style: none;*/
    color: #5D4037;
    padding: 20px;
    margin: 10px 0 0;
}

/*#notice-lists li::before {
    content: "📢";
    margin-right: 8px;
}*/

#notice-lists a {
    color: #5D4037;
    text-decoration: none;
}

#notice-lists a:visited {
    color: #5D4037;
    text-decoration: none;
}

#notice-lists a:hover {
    color: #A1887F;
    text-decoration: underline;
}

.new-tag {
    color: indianred;
    font-size: 15px;
}

.profile-btn {
    border: none;
    background: none;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #D8D2C2;
}

.content {
    flex-grow: 1;
    margin: 100px 20px;
    text-align: center;
    font-size: 18px;
}

.fixed-top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 120px;
    height: auto;
    z-index: 10;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: calc(100% - 120px);
    position: relative;
}

/* 명언 */
.quotes-container {
        padding: 12px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 10;
        background: linear-gradient(10deg, #e6d7f1, #ede0d4);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        backdrop-filter: blur(4px);
        height: 32px;
    }

/* 슬라이더 스타일 */
.swiper {
    width: 100%; /* 기존 80% -> 100%로 변경 */
    max-width: 80vw; /* 너무 넓어지는 것 방지 */
    height: auto;
    display: flex;
    justify-content: center; /* 내부 아이템 중앙 정렬 */
    padding: 10px 0; /* 원래 없었는데 주면 체크리스트 높이 조정해야 함 */

}

/* 슬라이드 내부 텍스트 */
.swiper-slide {
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Dancing Script', cursive;
    font-size: 16px;
    /*font-weight: 550;*/
    color: #5d4037;
    text-shadow: 1px 1px 3px rgba(161, 136, 127, 0.3); /* 은은한 섀도우 */
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

/* 따옴표 스타일 */
.quote-symbol {
    font-size: 32px;
    /*font-weight: bold;*/
    color: #a1887f;
    /*color: rgba(255, 255, 255, 0.7);*/
    margin: 0 10px;
}

/* 명언 텍스트 */
.quote-text {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    width: 100%; /* 텍스트가 영역 안에서 균형 있게 정렬되도록 */
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}

/* 네비게이션 버튼 스타일 */
.swiper-button-prev:after, .swiper-button-next:after {
    color: #8d6e63;
    font-size: 22px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.swiper-button-prev:hover:after, .swiper-button-next:hover:after {
    transform: scale(1.3);
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3vw;
    margin-top: 5px;
}

.left-content {
        flex: 0 0 390px;
        max-width: 415px;
        margin-left: 17px;
    }

.right-content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-right: 40px;
    padding-right: 20px;
    padding-top: 10px;
}

/* 달력 */
.calendar-container {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    top: 0; /* 필요 시 위치 재조정 */
    left: 0;
    border-radius: 10px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 45vh; /* 기존 40vh → 45vh로 증가 */
    transform: scale(1); /* 기존 0.9 → 1 (원래 크기로 조정) */
    position: relative; /* 위치를 명확하게 제어 */
    padding-top: 10px;

}

.calendar-container img {
    max-width: 100%;
    height: auto;
}

#calendar-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#calendar-title {
    display: inline-block;
    width: 120px;
    text-align: center;
    font-weight: bold;
}

.calendar {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdf7f2;
    border-radius: 12px;
    border: none;
    box-shadow: 0 2px 10px rgba(161, 136, 127, 0.2);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    color: #5D4037;
    font-size: 15px;
}


.calendar-header h3 {
    margin: 0;
}

.calendar-header button {
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    color: #5d4037;
}

.calendar-weeks {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 5px 0;
    color: #5d4037;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
}

.calendar-day {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    background-color: #fefaf6;
    border-radius: 10px;
    border: 1px solid #f7eadb;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.calendar-day span {
    font-size: 24px;
    line-height: 1;
}

.calendar-day:hover {
    background-color: #f1e5da;
    transform: scale(1.05);
}

.inactive {
    color: #bbb;
}

.today {
    background-color: #F9E3B4 !important;
    border: 2px solid #D6A461;
    font-weight: bold;
}

.right-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

/* 체크리스트 */
.checklist-container {
    flex: 0 0 40%;
    height: 65vh;
    background-color: #ede0d4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE */
}

.checklist-container h3 {
    font-size: 20px;
    color: #5D4037;
    margin-bottom: 10px;
    margin-top: 5px;
}

#task-list {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column; /* 세로형 목록 */
    gap: 10px;
}

.task-item {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.task-item input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.task-item input[type="checkbox"].disabled-checkbox {
    filter: grayscale(100%);
    opacity: 0.6;
}

.task-item.completed label {
    text-decoration: line-through;
    color: gray;
}

.no-habit-box {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    border: 1px solid #ddd;
    margin-top: -10px;
}

.no-habit-text {
    font-size: 15px;
    color: #5D4037;
    margin-bottom: 20px;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    position: relative;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox .checkmark {
    width: 18px;
    height: 18px;
    border: 2px solid #bbb;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
    transition: all 0.2s ease;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: #D2C4D6;
    border-color: #D2C4D6;
}

.custom-checkbox .checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
    display: block;
}

.custom-checkbox input[type="checkbox"]:disabled + .checkmark {
    background-color: #eee;
    border-color: #ccc;
    filter: grayscale(100%);
    opacity: 0.6;
}

.habit-page-link-box {
    margin-top: 40px;
    text-align: center;
}

.habit-link-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #f2eefc;
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.2s ease;
}

.habit-link-btn:hover {
    background-color: #d9d1f1;
}


.register-btn {
    padding: 4px 20px;
    background-color: #3F2E29;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-btn:hover {
    background-color: #e6d7f1;
}

.selected-date {
    background-color: #EAD4C2 !important;
    border: 2px solid #A1887F;
    font-weight: bold;
}

.right-side {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* 무드 그래프 */
.mood-chart {
    flex: 1;
    width: 100%;
    max-width: 451px;
    height: 164px;
    display: flex
;
    flex-direction: column;
    justify-content: space-between;
    background: #3F2E29;
    border-radius: 8px;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 17px;
}

.mood-chart h3 {
    font-size: 20px;
    color: #fff3e7;
    margin-bottom: 10px;
    margin-top: 5px;
}

.mood-chart canvas {
    border-radius: 8px;
    /*width: 33vw;*/
}


.chat-connect {
    display: flex
;
    gap: 29px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 9px;
}

/* 흔들림 애니메이션 */
@keyframes shake {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(1.5deg); }
    75% { transform: rotate(-1.5deg); }
}

.chatbot_menuimg,
.livechat_menuimg {
    width: 170px;
    height: auto;
    border-radius: 35px;
    animation: shake 2s infinite ease-in-out;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    margin-top: 6px;
}
.chatbot-bubble-container,
.livechat-bubble-container {
    position: relative;
    width: 180px; /* 적절한 크기 조정 */
    height: auto;
    overflow: hidden;
}

.chatbot-bubble-container:hover .chatbot_menuimg,
.livechat-bubble-container:hover .livechat_menuimg {
    opacity: 0.2;
}

/* 버튼, 텍스트 숨기기 */
.chatbot-guide-text,
.chatbot,
.livechat-guide-text,
.livechat {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
}

/* 마우스 올렸을 때 나타나게 */
.chatbot-bubble-container:hover .chatbot,
.chatbot-bubble-container:hover .chatbot-guide-text,
.livechat-bubble-container:hover .livechat,
.livechat-bubble-container:hover .livechat-guide-text {
    opacity: 1;
}

.livechat-guide-text {
    font-size: 12px;
    width: 100%;
    color: #3d2c2e;
    font-weight: bold;
    position: absolute;
    top: 1%;
    left: 76%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
}
.chatbot-guide-text {
    font-size: 12px;
    width: 100%;
    color: #3d2c2e;
    font-weight: bold;
    position: absolute;
    top: 1%;
    left: 64%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
}
.chatbot,
.livechat {
    background: #3F2E29;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 11px 11px 11px 0px;
    padding: 6px 7px;
    font-size: 14px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease;
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    width: 127px;
}
.chatbot::after,
.livechat::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #3F2E29; /* 여기도 변경 */
}
