@charset "UTF-8";

 body {
        margin: 0;
        padding: 0;
        font-family: 'Arial', sans-serif;
        /*background: linear-gradient(to bottom right, #e0c3fc, #8ec5fc);*/
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        width: 350px;
        padding: 20px;
        border: 2px solid #a77ff2;
        border-radius: 15px;
        background: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
    }

    .title {
        width: 100%;
        padding: 10px 0;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        background: #a77ff2;
        border-radius: 8px;
        margin-bottom: 15px;
    }

    .items {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .item1 {
        flex: 1;
        text-align: left;
        color: #7e57c2;
        font-weight: bold;
        font-size: 1rem;
    }

    .item2 {
        flex: 2;
    }

    input[type="text"], input[type="file"] {
        width: 100%;
        padding: 5px;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        font-size: 1rem;
        transition: border-color 0.3s;
    }

    input[type="text"]:focus, input[type="file"]:focus {
        border-color: #a77ff2;
        outline: none;
    }

    .button {
        margin-top: 20px;
        width: 100%;
    }

    button {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        color: #ffffff;
        background: #a77ff2;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
    }

    button:hover {
        background-color: #7e57c2;
        transform: scale(1.05);
    }

    button:active {
        background-color: #5e35b1;
    }

    @media screen and (max-width: 400px) {
        .container {
            width: 90%;
        }
    }
    
    /*.first{
		display: flex;
		justify-content: center;
	}*/